body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  list-style: none;
  width: 80vw;
  height: 90vh;
  margin-left: 20vw;
  overflow-y: scroll;
}
.search-bar {
  width: 20vw;
  position: fixed;
  height: 100vh;
  float: left;
}
.search-bar form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  height: clamp(160px, 30vh, 250px);
}
